@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
  font-family: Technology;
	src: url(Technology-Bold.ttf);
	}

* {
    font-family: Raleway;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
	background-image: url(bgr.jpg);
	background-size: cover;
	
}

#conn
{
	font-size: 30px;
	font-weight: bold;
	color: #037E74;
	font-family: Technology;
}