*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;

}

.progress-bar {
	margin: -7px 0px 0px -7px;
	position: relative;
	width: 290px;
	height: 3.6em;
	font-weight: bold;

	color: white;
}

.progress-bar::before {
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: .5em;
	top: .5em;
	bottom: .5em;
	width: calc(var(--width, 0) * 1%);
	min-width: 2rem;
	max-width: calc(100% - 1em);
	background-color:#00c911;
	padding: 1em;
}